# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:@localhost:3306/simplestudy"
OPENAI_API_KEY=
BACKEND_APP_PORT=3001
NODE_ENV=development

APP_URL=http://localhost
CDN_URL=https://cdn.simplestudy.cloud

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
NO_REPLY_EMAIL=no-reply@simplestudy.ie
NO_REPLY_EMAIL_FROM_NAME=SimpleStudy
SMTP_EMAIL_USER=hello@simplestudy.ie
SMTP_EMAIL_PASS=

# Stripe Prod Configuration
STRIPE_CUSTOMER_PORTAL=https://billing.stripe.com/p/login/fZe00D5V3chxcWQ144
STRIPE_KEY=
STRIPE_ENDPOINT_SECRET=
PUBLISH_KEY=

# Stripe Dev Configuration
STRIPE_KEY_DEV=
STRIPE_ENDPOINT_SECRET_DEV=
PUBLISH_KEY_DEV=

# Mixpanel token
MIXPANEL_TOKEN=

# STRIPE COUPON
COUPON_SUMMERFREE=''
COUPON_FREEMONTH=''
COUPON_FIFTYOFF=''

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-1
AWS_BUCKET_NAME=simplestudy-assets-staging